<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <title>Hospital Management System</title>
</head>
<body>
    <h1>Welcome to the Hospital Management System</h1>
    <nav>
        <a href="{{url_for('login')}}" class="button">Sign In</a>
      <a href="{{url_for('register')}}" class="button">Sign Up</a>
    </nav>
    <br>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <hr>
    {% block content %}{% endblock %}
</body>
</html>
